*{margin:0;padding:0;}
body{font-family:roboto;background-color: #FFFACD;}

header .head-top{
    background-color:bisque;

}

.logo{
    height:100px;
    width:100px;
   
}
.name{
    
    color:brown;
    
    order:1;
    
   
}

nav {  
    list-style:none;
    order:2;
    
}
nav li a {
    color:brown;
    text-decoration:none;
    background-color:#eb7f00;
    padding:10px;
    margin:3px;
    border-radius:5px;
}

.wrapper{
    display:flex;
    flex-direction:column;
    max-width: 960px;
    
    margin-left:  auto;
    margin-right:  auto;
    background:#FFE4B5;
    text-align:center;
    
}
.giper{
    order:2;
}
table{
    order:1; 
    text-align:center;
    border-spacing:5px;
    background:rgb(249, 174, 84);
    color:rgb(0, 0, 0);
    border:16px solid #f2cea2;
    border-radius:20px;
    width:60%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;

}
th{
    background:bisque;
    
    
}
tr:nth-child(even){
    background:lavender ;
    
}
tr:nth-child(odd){
    background:skyblue ;
    
}
form{
    order:3;
}

.footer{
    text-align:left;
    padding:20px;
}
@media  (min-width:768px){
    
        
    .giper{
        order:1;
    }
    table{
        order:2; 
      
    
    }
    form{
        order:3;
    }
  
}