*{margin:0;padding:0;}
body{font-family:roboto;background-color: #FFFACD;}

header .head-top{
    background-color:bisque;

}

.logo{
    height:100px;
    width:100px;
   
}
.name{  
    color:brown;
}

nav {  
    list-style:none;
}
nav li a {
    color:brown;
    text-decoration:none;
    background-color:#eb7f00;
    padding:10px;
    margin:3px;
    border-radius:5px;
}
.wrapper{
    background-color:#FFE4B5
}


table{
    border-spacing:5px;
    background:rgb(249, 174, 84);
    color:rgb(0, 0, 0);
    border:16px solid #f2cea2;
    border-radius:20px;
    width:60%;

}
th{
    background:bisque;
    
    
}
tr:nth-child(even){
    background:lavender ;
    
}
tr:nth-child(odd){
    background:skyblue ;
    
}



